* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  width: 100vw;
  height: 100%;
  font-family: "Poppins";
}
.headerContent1 {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 3px 75px;
  align-items: center;
  flex-shrink: 0;
  /* position: fixed;
  background-color: #100D1A; */
}
.wordings {
  display: flex;
  height: 33px;
  align-items: flex-start;
  align-items: center;
  gap: 86px;
  flex-shrink: 0;
  color: #d13f96;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wordings2 {
  height: 540px;
  background-color: #010138;
  padding-left: 130px;
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  .wordings2 {
    padding-left: 60px;
    font-size: 10px;
  }
}
.words1 {
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.words2 {
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* padding-top: 40px; */
}
.words3 {
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.words4 {
  color: #eedee8;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contain {
  display: flex;
  gap: 8px;
  padding-top: 13px;
}
.be {
  color: #d13f96;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.know {
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.section {
  background-color: #fff;
  height: 400px;
  padding: 60px;
  padding-bottom: 60px;
}
.get-pesa {
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whois {
  color: #8b52c2;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.icons {
  display: flex;
  gap: 200px;
  justify-content: center;
}
/* .words-under-icons {
  display: flex;
  gap: 100px;
  justify-content: center;
  font-size: 15px;
  justify-content: center;
} */
/* .figures-under-icons {
  display: flex;
  gap: 150px;
  justify-content: center;
  color: #484848;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
} */
.first {
  padding-left: 50px;
  padding-top: 10px;
}
.third {
  padding-right: 40px;
  padding-top: 10px;
}
.second {
  padding-left: 40px;
  padding-top: 10px;
}
.section2 {
  height: 1000px;
  background-image: url(images/backgroundimg.svg);
  width: 100%;
  display: flex;
  justify-content: center;
  background: radial-gradient(
      79.23% 82.17% at 20.4% 24.08%,
      #6f4c61 0%,
      #130443 100%
    )
    /* warning: gradient uses a rotation that is not
    supported by CSS and may not behave as expected */;
}
.bothParts {
  width: 70%;
}
.text1 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 550px;
  height: 100px;
}
.paragraph {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 630px;
  height: 300px;
  padding-top: 30px;
}
.part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.vectors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  color: white;
}
@media screen and (max-width: 768px) {
  .vectors {
    flex-direction: column;
    gap: 10px;
    display: flex;
    align-items: center;
  }
}

.text2 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 200px;
  width: 307px;
}
.text3 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 150px;
  padding-left: 40px;
}
.text4 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 200px;
  width: 330px;
}
.textss {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
.section3 {
  background-image: url();
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  /* background-image: url(images/bg.svg); */
  background: radial-gradient(
      79.23% 82.17% at 20.4% 24.08%,
      #6f4c61 0%,
      #130443 100%
    )
    /* warning: gradient uses a rotation that is not
    supported by CSS and may not behave as expected */;
}
.row1 {
  display: flex;
}
.card1{
  background-color:#8D52B3 ;
  display: flex;
  flex-direction: column;
 text-align: center;
}
.row2 {
  display: flex;
}
.ace {
  color: #fff;
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  padding-right: 300px;
  margin-bottom: 300px;
  opacity: 0.6;
}
.header2 {
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.guide {
  color: #fff;
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  margin-top: 100px;
  padding-left: 200px;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 10px;
    width: 250px;
  }
  .contain {
    gap: 5px;
    padding: auto;
  }
  .wordings {
    display: none;
  }
  .icons {
    flex-direction: column;
    gap: 10px;
  }
  .text1 {
    font-size: 10px;
  }
  .section {
    height: 500px;
  }
  .section3 {
    flex-direction: column;
  }
  .row1 {
    flex-wrap: wrap;
    align-content: center;
  }
  
  .row2 {
    flex-wrap: wrap;
  }
  .line {
    width: 5px;
  }
}
.section4 {
  height: 600px;
  text-align: center;
  background: radial-gradient(
      79.23% 82.17% at 20.4% 24.08%,
      #6f4c61 0%,
      #130443 100%
    )
    /* warning: gradient uses a rotation that is not
   supported by CSS and may not behave as expected */;
}
.did {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 250;
  letter-spacing: 0em;
  color: #fff;
}
.what {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 900;
  line-height: 90px;
  letter-spacing: 0em;
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ok {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 250;
  line-height: 38px;
  letter-spacing: 0em;
  color: #fff;
}
.imgWords {
  display: flex;
  flex-direction: row;
  color: #fff;
  width: 300px;
}
.internet {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
}
.imageWords2 {
  display: flex;
  flex-direction: row;
  color: #fff;
  width: 280px;
}
.cash {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  line-height: 54px;
}
.firstRow {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-top: 50px;
}
.secondRow {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-top: 50px;
}
.imgWords3 {
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
  width: 340px;
}
.imgWords4 {
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
  width: 250px;
}
.contacts {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
}
.social {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
}
.firstSecondrow {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
}
.section5 {
  height: 500px;
  color: #fff;
  background-image: url(images/what\ should\ I\ Begin\ with\ 1.png);
  text-align: center;
  padding-top: 200px;
}
.okay {
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: center;
}
.should {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 900;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: center;
}
.vector2 {
  padding-right: 300px;
}
.vector3 {
  padding-left: 500px;
}
.section6 {
  height: 500px;
  background-color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.take {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 400px;
  justify-content: center;
  align-items: center;
  width: 900px;
  text-align: center;
}
.section7 {
  height: 550px;
  color: #fff;
}
.plug {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 250;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.commu {
  background: linear-gradient(
    233deg,
    #d13f96 28.62%,
    #d13f96 28.62%,
    #3e14c9 105.6%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: center;
}
.line1 {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 30px;
}
.group1 {
  display: flex;
  width: 300px;
  gap: 20px;
}
.gilds1 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #d13f96;
}
.bothText1 {
  display: flex;
  flex-direction: column;
}
.group2 {
  display: flex;
  width: 300px;
  gap: 20px;
}
.getp {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #d13f96;
}
.pull {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.join {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.bothText2 {
  display: flex;
  flex-direction: column;
}
.line2 {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 3dvh;
}
.group3 {
  display: flex;
  gap: 16px;
}
.group4 {
  display: flex;
  width: 300px;
  gap: 20px;
}
.getpg {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #d13f96;
}
.gilds2 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #d13f96;
}
.everything {
  align-content: center;
}
.line3 {
  display: flex;
  justify-content: center;
  padding-right: 370px;
}
.group5 {
  display: flex;
  width: 300px;
  gap: 20px;
}
.pesa {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #d13f96;
}
.backTop {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  height: 40px;
}
.footerContent {
  background: linear-gradient(87.34deg, #3b3238 10.91%, #2d193b 51.02%);
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content:space-around;
}
.links {
  display: flex;
  gap: 15px;
}
.quick {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #fff;
}
.home{
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  color: #fff;
}
.resource{
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  color: #fff;
}
.get{
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  color: #fff;
}
.allIcons{
  display:flex;
}
